<!-- app/views/active_admin/devise/sessions/destroy.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Logout</title>
</head>
<body>
  <h1>Logout</h1>
  <p>You have been successfully logged out.</p>
  <p><%= link_to 'Go to Home', root_path %></p>
</body>
</html>
